.github/

# =========================
# Rust
# =========================
/target/
**/*.rs.bk
Cargo.lock

# =========================
# RustRover / IntelliJ
# =========================
.idea/
*.iml
out/

# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Linux
# =========================
*~

# =========================
# Logs / temp
# =========================
*.log
tmp/
